<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Update location at realtime -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- הרשאה לעדכון מיקום בקירוב גם אם הדיוק לא מלא -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Android 10+ - מיקום גם שהאפליקציה לא פתוחה -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- שירות רקע מאפשר להריץ התראות באופן קבוע -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android 10+ -  סנכרון בזמן אמת של נתונים ושירות רקע למיקום -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>


    <!-- Android 13+ Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Vibrate Service לשאר הגירסאות -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Android 12+ (API 31+) -->
    <uses-permission
        android:name="android.permission.ACCESS_VIBRATE"
        android:required="false" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhereIsMyChildApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- פירוט השירותים -->
        <service
            android:name=".Services.ChildTrackingForegroundService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <service
            android:name=".Services.ParentSosPollingForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            tools:ignore="ForegroundServicePermission" />





    </application>
</manifest>
